{% extends "::base.html.twig" %}

{% block title %}AppBundle:DataController:OrganizeInputData{% endblock %}

{% block body %}
    <div class="container">
        <h1>Our super table</h1>

        <table class="table table-bordered">
            <tr class="bg-primary">
                <th>Item1</th>
                <th>Item2</th>
                <th>Item1+Item2</th>
                <th>Pair/Impaire</th>
            </tr>
            {% for data in datas %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>
                        {% if data[3] == 1 %}
                            Paire
                        {% else %}
                            Impair
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

